#ba_eu_cookie_law {
	width: 100%;
	float: left;
	padding:3px;
	position: fixed;
	z-index: 10000;
	display: none;
	background:white;
}
#ba_eu_cookie_law .ba_eu_cookie_law_text{
	text-align: center;
	font-family: "Times New Roman";
	  font-size: 14px;
}
.ba_eu_cookie_law_button a{border-radius:4px;}
.ba_eu_cookie_law_button{text-align:center;}
#ba_eu_cookie_law.show_in_header{top:0;border-top:0;border-bottom:3px solid;}
#ba_eu_cookie_law.show_in_footer{bottom:0;border-top:3px solid;border-bottom:0;}
.ba_popup_cookie{display:none;}
#ba_eu_cookie_accept{
	padding: 5px 11px;
	border-radius: 9px;
	margin-right: 10px;
}
.bootstrap #ba_eu_cookie_law .checkbox input[type="checkbox"]{
	  margin-left: 0;
}
.fa.fa-times-circle-o{  
	position: absolute;
	right: -8px;
	top: -9px;
	cursor: pointer;
	color: #444;
	font-size: 20px;
	background-color: white;
	border-radius: 20px;
	display:none;
  }
#ba_eu_custom_css{width:622px;}
p{margin:0;}
