#ba_eu_cookie_law {padding: 4px 0 10px !important;}
#ba_eu_cookie_law .ba_eu_cookie_law_text p{  margin-bottom: 6px;}
#ba_eu_cookie_law .ba_eu_cookie_law_text a{text-decoration: none;}
#ba_eu_cookie_accept,#ba_eu_cookie_more_info{text-decoration: none;}
